@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/styles/scss/components/button/tokens" as *;

.keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 960px;
  max-width: 960px;
}

.row {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  width: 100%;
  margin: $spacing-02;
  transition: 0.3s;
  flex: 1;
}

// .cds--btn {
//   width: 100%;
//   font-size: 1em;
//   transition: 0.3s;
//   min-width: 3em;
// }

// #esc {
//   width: 3em;
// }

.tab {
  //   width: 5em;
  flex: 1 1 2em;
}

.caps {
  //   width: 6em;
  flex: 1 1 6em;
}

.shift-left {
  //   width: 8em;
  flex: 1 1 8em;
}

.enter {
  //   width: 6em;
  flex: 1 1 6em;
}

.shift-right {
  //   width: 8em;
  flex: 1 1 8em;
}

// .back {
//   width: 5em;
// }

/* Bottom Row Keys */
.ctrl-left {
  //   width: 6em;
  flex: 1 1 6em;
}

.command-left {
  //   width: 7em;
  flex: 1 1 7em;
}

.alt-left {
  //   width: 6em;
  flex: 1 1 6em;
}

.space {
  //   flex: 4;
  flex: 1 1 20em;
}

.alt-right {
  //   width: 6em;
  flex: 1 1 6em;
}

.command-right {
  //   width: 7em;
  flex: 1 1 7em;
}

.menu {
  //   width: 6em;
  flex: 1 1 6em;
}

.ctrl-right {
  //   width: 6em;
  flex: 1 1 6em;
}

@media (max-width: 768px) {
  .keyboard-wrapper {
    display: none;
  }
}

@media (max-width: 1024px) {
  .keyboard-wrapper {
    display: none;
  }
}
