@use "@carbon/react";
@use "@carbon/react/scss/theme" as *;
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}

.wrapper {
  display: flex;
  padding: 16px 16px 32px 16px;
  width: 100%;
  flex: 1;
  margin-top: 3rem;
  overflow: hidden;
  flex-direction: column;
}

.keyboard-wrapper {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  justify-content: center;
}

.textarea-wrapper {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  flex: 1;
  textarea,
  .cds--text-area__wrapper {
    height: 100%;
    flex: 1;
  }
}
